In [3]:
import numpy as np
import pandas as pd

In [5]:
df=pd.read_csv('imdb_top_1000.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Poster_Link    1000 non-null   object
 1   Series_Title   1000 non-null   object
 2   Released_Year  1000 non-null   object
 3   Certificate    899 non-null    object
 4   Runtime        1000 non-null   object
 5   Genre          1000 non-null   object
 6   IMDB_Rating    1000 non-null   float64
 7   Overview       1000 non-null   object
 8   Meta_score     843 non-null    float64
 9   Director       1000 non-null   object
 10  Star1          1000 non-null   object
 11  Star2          1000 non-null   object
 12  Star3          1000 non-null   object
 13  Star4          1000 non-null   object
 14  No_of_Votes    1000 non-null   int64
 15  Gross          831 non-null    object
dtypes: float64(2), int64(1), object(13)
memory usage: 125.1+ KB

In [57]:
genres=df.groupby('Genre')

In [59]:
genres.head(5)

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
991,https://m.media-amazon.com/images/M/MV5BMzAyND...,Kelly's Heroes,1970,GP,144 min,"Adventure, Comedy, War",7.6,A group of U.S. soldiers sneaks across enemy l...,50.0,Brian G. Hutton,Clint Eastwood,Telly Savalas,Don Rickles,Carroll O'Connor,45338,"1,378,435"
994,https://m.media-amazon.com/images/M/MV5BZjQyMG...,A Hard Day's Night,1964,U,87 min,"Comedy, Music, Musical",7.6,"Over two ""typical"" days in the life of The Bea...",96.0,Richard Lester,John Lennon,Paul McCartney,George Harrison,Ringo Starr,40351,"13,780,024"
996,https://m.media-amazon.com/images/M/MV5BODk3Yj...,Giant,1956,G,201 min,"Drama, Western",7.6,Sprawling epic covering the life of a Texas ca...,84.0,George Stevens,Elizabeth Taylor,Rock Hudson,James Dean,Carroll Baker,34075,NaN
997,https://m.media-amazon.com/images/M/MV5BM2U3Yz...,From Here to Eternity,1953,Passed,118 min,"Drama, Romance, War",7.6,"In Hawaii in 1941, a private is cruelly punish...",85.0,Fred Zinnemann,Burt Lancaster,Montgomery Clift,Deborah Kerr,Donna Reed,43374,"30,500,000"
999,https://m.media-amazon.com/images/M/MV5BMTY5OD...,The 39 Steps,1935,NaN,86 min,"Crime, Mystery, Thriller",7.6,A man in London tries to help a counter-espion...,93.0,Alfred Hitchcock,Robert Donat,Madeleine Carroll,Lucie Mannheim,Godfrey Tearle,51853,NaN

# find the top 3 genres by total earning

In [45]:
df.groupby('Genre')['Gross'].sum().head(5)

Genre
Action, Adventure               448,139,099248,159,971206,852,432197,171,80647...
Action, Adventure, Biography                                                    0
Action, Adventure, Comedy       1,033,8958,178,001333,176,600363,070,709315,05...
Action, Adventure, Crime                                                        0
Action, Adventure, Drama        377,845,905315,544,750342,551,365269,061187,70...
Name: Gross, dtype: object

# find the genre with highest avg IMDB rating

In [65]:
df.groupby('Genre')['IMDB_Rating'].mean().max()

8.5

In [67]:
df.groupby('Genre')['IMDB_Rating'].mean().sort_values(ascending=False).head(1)

Genre
Animation, Drama, War    8.5
Name: IMDB_Rating, dtype: float64

# find director with most popularity

In [77]:
df.groupby('Director')['No_of_Votes'].sum().sort_values(ascending=False).head(1)

Director
Christopher Nolan    11578345
Name: No_of_Votes, dtype: int64

 find number of movies done by each actor

In [85]:
df.groupby('Star1')['Series_Title'].count()

Star1
Aamir Khan              7
Aaron Taylor-Johnson    1
Abhay Deol              1
Abraham Attah           1
Adam Driver             1
                       ..
Zbigniew Zamachowski    1
Zooey Deschanel         1
Çetin Tekindor          1
Éric Toledano           1
Ömer Faruk Sorak        1
Name: Series_Title, Length: 660, dtype: int64

# GroupBy Attributes and Methods
# find total number of groups -> len
# find items in each group -> size
# first()/last() -> nth item
# get_group -> vs filtering
# groups
# describe
# sample
# nunique

In [23]:
len(df.groupby('Genre'))
# df['Genre'].nunique()

202

In [29]:
# df.groupby('Genre').size()
df["Genre"].value_counts()

Genre
Drama                        85
Drama, Romance               37
Comedy, Drama                35
Comedy, Drama, Romance       31
Action, Crime, Drama         30
                             ..
Adventure, Thriller           1
Animation, Action, Sci-Fi     1
Action, Crime, Comedy         1
Animation, Crime, Mystery     1
Adventure, Comedy, War        1
Name: count, Length: 202, dtype: int64

In [33]:
genre=df.groupby('Genre')
genre.first()
genre.last()
genre.nth(6)

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
88,https://m.media-amazon.com/images/M/MV5BMTg2ND...,Jagten,2012,R,115 min,Drama,8.3,"A teacher lives a lonely life, all the while s...",77.0,Thomas Vinterberg,Mads Mikkelsen,Thomas Bo Larsen,Annika Wedderkopp,Lasse Fogelstrøm,281623,"687,185"
108,https://m.media-amazon.com/images/M/MV5BNjdjNG...,Scarface,1983,A,170 min,"Crime, Drama",8.3,"In 1980 Miami, a determined Cuban immigrant ta...",65.0,Brian De Palma,Al Pacino,Michelle Pfeiffer,Steven Bauer,Mary Elizabeth Mastrantonio,740911,"45,598,982"
164,https://m.media-amazon.com/images/M/MV5BNGMwNz...,Heat,1995,A,170 min,"Crime, Drama, Thriller",8.2,A group of professional bank robbers start to ...,76.0,Michael Mann,Al Pacino,Robert De Niro,Val Kilmer,Jon Voight,577113,"67,436,818"
176,https://m.media-amazon.com/images/M/MV5BMjk3Yj...,The Message,1976,PG,177 min,"Biography, Drama, History",8.2,This epic historical drama chronicles the life...,NaN,Moustapha Akkad,Anthony Quinn,Irene Papas,Michael Ansara,Johnny Sekka,43885,NaN
189,https://m.media-amazon.com/images/M/MV5BMjEzMz...,Rashômon,1950,NaN,88 min,"Crime, Drama, Mystery",8.2,The rape of a bride and the murder of her samu...,98.0,Akira Kurosawa,Toshirô Mifune,Machiko Kyô,Masayuki Mori,Takashi Shimura,152572,"96,568"
242,https://m.media-amazon.com/images/M/MV5BZTAzNW...,Finding Nemo,2003,U,100 min,"Animation, Adventure, Comedy",8.1,After his son is captured in the Great Barrier...,90.0,Andrew Stanton,Lee Unkrich,Albert Brooks,Ellen DeGeneres,Alexander Gould,949565,"380,843,261"
253,https://m.media-amazon.com/images/M/MV5BYjZjOD...,Fa yeung nin wah,2000,U,98 min,"Drama, Romance",8.1,"Two neighbors, a woman and a man, form a stron...",85.0,Kar-Wai Wong,Tony Chiu-Wai Leung,Maggie Cheung,Ping Lam Siu,Tung Cho 'Joe' Cheung,124383,"2,734,044"
278,https://m.media-amazon.com/images/M/MV5BNDhmNT...,The Deer Hunter,1978,A,183 min,"Drama, War",8.1,An in-depth examination of the ways in which t...,86.0,Michael Cimino,Robert De Niro,Christopher Walken,John Cazale,John Savage,311361,"48,979,328"
308,https://m.media-amazon.com/images/M/MV5BZmI5NT...,White Heat,1949,NaN,114 min,"Action, Crime, Drama",8.1,A psychopathic criminal with a mother complex ...,NaN,Raoul Walsh,James Cagney,Virginia Mayo,Edmond O'Brien,Margaret Wycherly,29807,NaN
311,https://m.media-amazon.com/images/M/MV5BNzc1MT...,The Shop Around the Corner,1940,NaN,99 min,"Comedy, Drama, Romance",8.1,Two employees at a gift shop can barely stand ...,96.0,Ernst Lubitsch,Margaret Sullavan,James Stewart,Frank Morgan,Joseph Schildkraut,28450,"203,300"
322,https://m.media-amazon.com/images/M/MV5BNjZlMD...,Badhaai ho,2018,UA,124 min,"Comedy, Drama",8.0,A man is embarrassed when he finds out his mot...,NaN,Amit Ravindernath Sharma,Ayushmann Khurrana,Neena Gupta,Gajraj Rao,Sanya Malhotra,27978,NaN
343,https://m.media-amazon.com/images/M/MV5BMDE5OW...,The Revenant,2015,A,156 min,"Action, Adventure, Drama",8.0,A frontiersman on a fur trading expedition in ...,76.0,Alejandro G. Iñárritu,Leonardo DiCaprio,Tom Hardy,Will Poulter,Domhnall Gleeson,705589,"183,637,894"
365,https://m.media-amazon.com/images/M/MV5BMTc3Mj...,Le scaphandre et le papillon,2007,PG-13,112 min,"Biography, Drama",8.0,The true story of Elle editor Jean-Dominique B...,92.0,Julian Schnabel,Laura Obiols,Mathieu Amalric,Emmanuelle Seigner,Marie-Josée Croze,103284,"5,990,075"
418,https://m.media-amazon.com/images/M/MV5BZGRjZj...,Papillon,1973,R,151 min,"Biography, Crime, Drama",8.0,A man befriends a fellow criminal as the two o...,58.0,Franklin J. Schaffner,Steve McQueen,Dustin Hoffman,Victor Jory,Don Gordon,121627,"53,267,000"
463,https://m.media-amazon.com/images/M/MV5BMGUwZj...,Knives Out,2019,UA,130 min,"Comedy, Crime, Drama",7.9,A detective investigates the death of a patria...,82.0,Rian Johnson,Daniel Craig,Chris Evans,Ana de Armas,Jamie Lee Curtis,454203,"165,359,751"
477,https://m.media-amazon.com/images/M/MV5BOTAzOD...,Star Wars: Episode VII - The Force Awakens,2015,U,138 min,"Action, Adventure, Sci-Fi",7.9,"As a new threat to the galaxy rises, Rey, a de...",80.0,J.J. Abrams,Daisy Ridley,John Boyega,Oscar Isaac,Domhnall Gleeson,860823,"936,662,225"
532,https://m.media-amazon.com/images/M/MV5BYTdlMD...,The Blues Brothers,1980,U,133 min,"Action, Adventure, Comedy",7.9,"Jake Blues, just released from prison, puts to...",60.0,John Landis,John Belushi,Dan Aykroyd,Cab Calloway,John Candy,183182,"57,229,890"
578,https://m.media-amazon.com/images/M/MV5BMjA2Mz...,Kubo and the Two Strings,2016,PG,101 min,"Animation, Action, Adventure",7.8,A young boy named Kubo must locate a magical s...,84.0,Travis Knight,Charlize Theron,Art Parkinson,Matthew McConaughey,Ralph Fiennes,118035,"48,023,088"
591,https://m.media-amazon.com/images/M/MV5BYWNlOD...,Vicky Donor,2012,UA,126 min,"Comedy, Romance",7.8,A man is brought in by an infertility doctor t...,NaN,Shoojit Sircar,Ayushmann Khurrana,Yami Gautam,Annu Kapoor,Dolly Ahluwalia,39710,"169,209"
601,https://m.media-amazon.com/images/M/MV5BYzM2OG...,Kokuhaku,2010,NaN,106 min,"Drama, Thriller",7.8,A psychological thriller of a grieving mother ...,NaN,Tetsuya Nakashima,Takako Matsu,Yoshino Kimura,Masaki Okada,Yukito Nishii,35713,NaN
800,https://m.media-amazon.com/images/M/MV5BOTA5Mz...,Office Space,1999,R,89 min,Comedy,7.7,Three company workers who hate their jobs deci...,68.0,Mike Judge,Ron Livingston,Jennifer Aniston,David Herman,Ajay Naidu,241575,"10,824,921"
819,https://m.media-amazon.com/images/M/MV5BN2Y0NW...,The Muppet Christmas Carol,1992,G,85 min,"Comedy, Drama, Family",7.7,The Muppet characters tell their version of th...,64.0,Brian Henson,Michael Caine,Kermit the Frog,Dave Goelz,Miss Piggy,50298,"27,281,507"
829,https://m.media-amazon.com/images/M/MV5BNDcwMT...,Spoorloos,1988,NaN,107 min,"Mystery, Thriller",7.7,"Rex and Saskia, a young couple in love, are on...",NaN,George Sluizer,Bernard-Pierre Donnadieu,Gene Bervoets,Johanna ter Steege,Gwen Eckhaus,33982,NaN
834,https://m.media-amazon.com/images/M/MV5BMzExOT...,Blue Velvet,1986,A,120 min,"Drama, Mystery, Thriller",7.7,The discovery of a severed human ear found in ...,76.0,David Lynch,Isabella Rossellini,Kyle MacLachlan,Dennis Hopper,Laura Dern,181285,"8,551,228"
847,https://m.media-amazon.com/images/M/MV5BMjE1ND...,The Taking of Pelham One Two Three,1974,U,104 min,"Action, Crime, Thriller",7.7,"In New York, armed men hijack a subway car and...",68.0,Joseph Sargent,Walter Matthau,Robert Shaw,Martin Balsam,Hector Elizondo,26729,NaN
884,https://m.media-amazon.com/images/M/MV5BOWVmZG...,The Peanut Butter Falcon,2019,PG-13,97 min,"Adventure, Comedy, Drama",7.6,Zak runs away from his care home to make his d...,70.0,Tyler Nilson,Michael Schwartz,Zack Gottsagen,Ann Owens,Dakota Johnson,66346,"13,122,642"
897,https://m.media-amazon.com/images/M/MV5BMjA5OD...,Philomena,2013,PG-13,98 min,"Biography, Comedy, Drama",7.6,A world-weary political journalist picks up th...,77.0,Stephen Frears,Judi Dench,Steve Coogan,Sophie Kennedy Clark,Mare Winningham,94212,"37,707,719"
903,https://m.media-amazon.com/images/M/MV5BNmE5Zm...,A Star Is Born,2018,UA,136 min,"Drama, Music, Romance",7.6,A musician helps a young singer find fame as a...,88.0,Bradley Cooper,Lady Gaga,Bradley Cooper,Sam Elliott,Greg Grunberg,334312,"215,288,866"
910,https://m.media-amazon.com/images/M/MV5BMjAxOT...,Moneyball,2011,PG-13,133 min,"Biography, Drama, Sport",7.6,Oakland A's general manager Billy Beane's succ...,87.0,Bennett Miller,Brad Pitt,Robin Wright,Jonah Hill,Philip Seymour Hoffman,369529,"75,605,492"
920,https://m.media-amazon.com/images/M/MV5BMjEzMj...,The Secret of Kells,2009,NaN,71 min,"Animation, Adventure, Family",7.6,A young boy in a remote medieval outpost under...,81.0,Tomm Moore,Nora Twomey,Evan McGuire,Brendan Gleeson,Mick Lally,31779,"686,383"
923,https://m.media-amazon.com/images/M/MV5BOTBmZD...,La Vie En Rose,2007,PG-13,140 min,"Biography, Drama, Music",7.6,Biopic of the iconic French singer Édith Piaf....,66.0,Olivier Dahan,Marion Cotillard,Sylvie Testud,Pascal Greggory,Emmanuelle Seigner,82781,"10,301,706"
924,https://m.media-amazon.com/images/M/MV5BMTI5Mj...,Huo Yuan Jia,2006,PG-13,104 min,"Action, Biography, Drama",7.6,A biography of Chinese Martial Arts Master Huo...,70.0,Ronny Yu,Jet Li,Li Sun,Yong Dong,Yun Qu,72863,"24,633,730"
947,https://m.media-amazon.com/images/M/MV5BNjQ3NW...,Harry Potter and the Sorcerer's Stone,2001,U,152 min,"Adventure, Family, Fantasy",7.6,An orphaned boy enrolls in a school of wizardr...,64.0,Chris Columbus,Daniel Radcliffe,Rupert Grint,Richard Harris,Maggie Smith,658185,"317,575,550"
986,https://m.media-amazon.com/images/M/MV5BMzZiOD...,Watership Down,1978,U,91 min,"Animation, Adventure, Drama",7.6,Hoping to escape destruction by human develope...,64.0,Martin Rosen,John Hubley,John Hurt,Richard Briers,Ralph Richardson,33656,NaN

In [39]:
genre.get_group('Drama')

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
9,https://m.media-amazon.com/images/M/MV5BMmEzNT...,Fight Club,1999,A,139 min,Drama,8.8,An insomniac office worker and a devil-may-car...,66.0,David Fincher,Brad Pitt,Edward Norton,Meat Loaf,Zach Grenier,1854740,"37,030,102"
17,https://m.media-amazon.com/images/M/MV5BZjA0OW...,One Flew Over the Cuckoo's Nest,1975,A,133 min,Drama,8.7,A criminal pleads insanity and is admitted to ...,83.0,Milos Forman,Jack Nicholson,Louise Fletcher,Michael Berryman,Peter Brocco,918088,"112,000,000"
20,https://m.media-amazon.com/images/M/MV5BOTc2ZT...,Soorarai Pottru,2020,U,153 min,Drama,8.6,"Nedumaaran Rajangam ""Maara"" sets out to make t...",NaN,Sudha Kongara,Suriya,Madhavan,Paresh Rawal,Aparna Balamurali,54995,NaN
40,https://m.media-amazon.com/images/M/MV5BZjA0MT...,American History X,1998,R,119 min,Drama,8.5,A former neo-nazi skinhead tries to prevent hi...,62.0,Tony Kaye,Edward Norton,Edward Furlong,Beverly D'Angelo,Jennifer Lien,1034705,"6,719,864"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
933,https://m.media-amazon.com/images/M/MV5BMjA0Mj...,"Synecdoche, New York",2008,R,124 min,Drama,7.6,"A theatre director struggles with his work, an...",67.0,Charlie Kaufman,Philip Seymour Hoffman,Samantha Morton,Michelle Williams,Catherine Keener,83158,"3,081,925"
934,https://m.media-amazon.com/images/M/MV5BMTgxMj...,Mysterious Skin,2004,R,105 min,Drama,7.6,A teenage hustler and a young man obsessed wit...,73.0,Gregg Araki,Brady Corbet,Joseph Gordon-Levitt,Elisabeth Shue,Chase Ellison,65939,"697,181"
941,https://m.media-amazon.com/images/M/MV5BNmE0Yj...,25th Hour,2002,R,135 min,Drama,7.6,"Cornered by the DEA, convicted New York drug d...",68.0,Spike Lee,Edward Norton,Barry Pepper,Philip Seymour Hoffman,Rosario Dawson,169708,"13,060,843"
946,https://m.media-amazon.com/images/M/MV5BNDhjMz...,Y tu mamá también,2001,A,106 min,Drama,7.6,"In Mexico, two teenage boys and an attractive ...",88.0,Alfonso Cuarón,Maribel Verdú,Gael García Bernal,Daniel Giménez Cacho,Ana López Mercado,115827,"13,622,333"
981,https://m.media-amazon.com/images/M/MV5BNWQ4MG...,On Golden Pond,1981,UA,109 min,Drama,7.6,Norman is a curmudgeon with an estranged relat...,68.0,Mark Rydell,Katharine Hepburn,Henry Fonda,Jane Fonda,Doug McKeon,27650,"119,285,432"

In [59]:
genre.groups

{'Action, Adventure': [63, 72, 155, 168, 840], 'Action, Adventure, Biography': [540], 'Action, Adventure, Comedy': [177, 320, 325, 339, 348, 473, 532, 722, 730, 887], 'Action, Adventure, Crime': [909], 'Action, Adventure, Drama': [5, 10, 13, 31, 39, 59, 343, 496, 625, 642, 709, 821, 898, 944], 'Action, Adventure, Family': [927], 'Action, Adventure, Fantasy': [16, 29, 109, 376, 623, 645], 'Action, Adventure, History': [507], 'Action, Adventure, Horror': [535], 'Action, Adventure, Mystery': [914], 'Action, Adventure, Romance': [564], 'Action, Adventure, Sci-Fi': [8, 60, 106, 223, 262, 357, 477, 479, 482, 493, 502, 582, 583, 634, 677, 737, 746, 749, 807, 839, 982], 'Action, Adventure, Thriller': [368, 725, 751, 861, 963], 'Action, Adventure, War': [854, 856], 'Action, Adventure, Western': [543, 865], 'Action, Biography, Crime': [142, 702, 985], 'Action, Biography, Drama': [57, 216, 217, 351, 659, 889, 924], 'Action, Comedy, Crime': [140, 160, 161, 294, 569, 908], 'Action, Comedy, Fantasy': [678, 685, 776], 'Action, Comedy, Mystery': [627], 'Action, Comedy, Romance': [166, 194], 'Action, Crime, Comedy': [390], 'Action, Crime, Drama': [2, 42, 55, 201, 224, 241, 308, 345, 356, 375, 577, 602, 605, 663, 674, 696, 710, 718, 768, 774, 782, 850, 852, 888, 893, 896, 901, 918, 931, 968], 'Action, Crime, Mystery': [951], 'Action, Crime, Thriller': [326, 337, 369, 608, 648, 666, 847, 853, 979, 983], 'Action, Drama': [130, 134, 331, 784, 928], 'Action, Drama, History': [573, 705, 832], 'Action, Drama, Mystery': [30, 68, 340, 655, 930], 'Action, Drama, Sci-Fi': [152, 202], 'Action, Drama, Sport': [144], 'Action, Drama, Thriller': [181, 353, 570, 641], 'Action, Drama, War': [129, 172, 236], 'Action, Drama, Western': [431, 436], 'Action, Mystery, Thriller': [362, 511, 777], 'Action, Sci-Fi': [14, 44, 410], 'Action, Sci-Fi, Thriller': [275, 488], 'Action, Thriller': [171, 615, 900], 'Adventure, Biography, Crime': [604], 'Adventure, Biography, Drama': [116, 231, 323, 549, 638, 686], 'Adventure, Comedy, Crime': [209, 797], 'Adventure, Comedy, Drama': [137, 193, 470, 514, 739, 798, 884, 957], 'Adventure, Comedy, Family': [576, 681, 984], 'Adventure, Comedy, Fantasy': [178, 912], 'Adventure, Comedy, Film-Noir': [711], 'Adventure, Comedy, Sci-Fi': [47, 366, 675], 'Adventure, Comedy, War': [991], 'Adventure, Drama': [267, 273, 301, 552], 'Adventure, Drama, Fantasy': [226, 377, 497, 498, 537, 964], 'Adventure, Drama, History': [179, 281, 300, 966], 'Adventure, Drama, Musical': [247], 'Adventure, Drama, Romance': [647, 873], 'Adventure, Drama, Sci-Fi': [21, 329, 513], 'Adventure, Drama, Thriller': [110, 306, 361, 851], 'Adventure, Drama, War': [93, 304], 'Adventure, Drama, Western': [191, 402, 553, 713], 'Adventure, Family, Fantasy': [406, 458, 506, 755, 781, 919, 947], 'Adventure, Fantasy': [609, 618], 'Adventure, History, War': [692], 'Adventure, Horror, Sci-Fi': [566], 'Adventure, Mystery, Thriller': [118], 'Adventure, Sci-Fi': [114, 426], 'Adventure, Thriller': [415], 'Animation, Action, Adventure': [58, 70, 230, 378, 389, 522, 578, 592, 599, 744, 891], 'Animation, Action, Crime': [394, 510, 665], 'Animation, Action, Drama': [246], 'Animation, Action, Fantasy': [796], 'Animation, Action, Sci-Fi': [405], 'Animation, Adventure, Comedy': [101, 135, 146, 151, 205, 213, 242, 245, 330, 367, 399, 469, 499, 516, 596, 633, 651, 740, 756, 761, 771, 822, 828, 892], 'Animation, Adventure, Drama': [43, 219, 332, 409, 672, 741, 986], 'Animation, Adventure, Family': [23, 61, 66, 158, 843, 902, 920, 956, 992], 'Animation, Adventure, Fantasy': [270], 'Animation, Biography, Crime': [586], 'Animation, Biography, Drama': [358, 595], 'Animation, Comedy, Crime': [906], 'Animation, Comedy, Drama': [229, 640], 'Animation, Comedy, Fantasy': [799], 'Animation, Crime, Mystery': [386], 'Animation, Drama, Family': [197, 518, 728, 783], 'Animation, Drama, Fantasy': [56, 211, 643, 758], 'Animation, Drama, Romance': [971], 'Animation, Drama, War': [46], 'Animation, Family, Fantasy': [170, 395, 401, 875, 976], 'Animation, Sci-Fi': [694], 'Biography, Comedy, Drama': [35, 131, 587, 600, 657, 815, 897], 'Biography, Crime, Drama': [15, 147, 218, 243, 263, 416, 418, 424, 484, 622, 759, 809, 849, 882, 949, 987], 'Biography, Drama': [159, 276, 282, 328, 359, 360, 365, 372, 385, 525, 671, 748], 'Biography, Drama, Family': [228, 429, 650, 940], 'Biography, Drama, History': [7, 18, 54, 102, 107, 157, 176, 212, 215, 235, 290, 298, 317, 346, 373, 411, 536, 545, 575, 606, 673, 684, 757, 766, 820, 831, 858, 877], 'Biography, Drama, Music': [38, 342, 635, 770, 779, 810, 923], 'Biography, Drama, Romance': [729], 'Biography, Drama, Sport': [139, 173, 579, 614, 632, 644, 910, 915, 952], 'Biography, Drama, Thriller': [338, 649, 753], 'Biography, Drama, War': [542], 'Comedy': [78, 277, 417, 539, 679, 750, 800, 808, 816, 837, 842, 855, 969], 'Comedy, Crime': [96, 449, 869, 970, 972, 977], 'Comedy, Crime, Drama': [112, 132, 153, 169, 261, 284, 463, 494, 630, 680, 687, 814, 836, 953, 989], 'Comedy, Crime, Mystery': [460], 'Comedy, Crime, Romance': [251], 'Comedy, Crime, Sport': [252], 'Comedy, Crime, Thriller': [455], ...}

In [41]:
genre.describe()

                             IMDB_Rating                                  \
                                   count      mean       std  min    25%
Genre
Action, Adventure                    5.0  8.180000  0.286356  7.7  8.200
Action, Adventure, Biography         1.0  7.900000       NaN  7.9  7.900
Action, Adventure, Comedy           10.0  7.910000  0.191195  7.6  7.750
Action, Adventure, Crime             1.0  7.600000       NaN  7.6  7.600
Action, Adventure, Drama            14.0  8.150000  0.475152  7.6  7.800
...                                  ...       ...       ...  ...    ...
Mystery, Romance, Thriller           1.0  8.300000       NaN  8.3  8.300
Mystery, Sci-Fi, Thriller            2.0  7.800000  0.282843  7.6  7.700
Mystery, Thriller                    9.0  7.977778  0.319287  7.6  7.700
Thriller                             1.0  7.800000       NaN  7.8  7.800
Western                              4.0  8.350000  0.420317  7.8  8.175

                                               Meta_score              ...  \
                               50%    75%  max      count        mean  ...
Genre                                                                  ...
Action, Adventure             8.20  8.400  8.4        5.0   71.800000  ...
Action, Adventure, Biography  7.90  7.900  7.9        0.0         NaN  ...
Action, Adventure, Comedy     7.95  8.000  8.2        7.0   66.857143  ...
Action, Adventure, Crime      7.60  7.600  7.6        0.0         NaN  ...
Action, Adventure, Drama      7.95  8.575  8.9       13.0   80.461538  ...
...                            ...    ...  ...        ...         ...  ...
Mystery, Romance, Thriller    8.30  8.300  8.3        1.0  100.000000  ...
Mystery, Sci-Fi, Thriller     7.80  7.900  8.0        2.0   70.000000  ...
Mystery, Thriller             8.00  8.200  8.4        5.0   78.600000  ...
Thriller                      7.80  7.800  7.8        1.0   81.000000  ...
Western                       8.40  8.575  8.8        4.0   78.250000  ...

                                           No_of_Votes                 \
                                75%    max       count           mean
Genre
Action, Adventure              78.0   85.0         5.0  925533.400000
Action, Adventure, Biography    NaN    NaN         1.0   52397.000000
Action, Adventure, Comedy      70.5   76.0        10.0  456076.600000
Action, Adventure, Crime        NaN    NaN         1.0   63882.000000
Action, Adventure, Drama       89.0   98.0        14.0  663989.928571
...                             ...    ...         ...            ...
Mystery, Romance, Thriller    100.0  100.0         1.0  364368.000000
Mystery, Sci-Fi, Thriller      72.0   74.0         2.0  383185.000000
Mystery, Thriller              98.0  100.0         9.0  341362.888889
Thriller                       81.0   81.0         1.0   27733.000000
Western                        82.5   90.0         4.0  322416.250000

                                                                            \
                                        std       min        25%       50%
Genre
Action, Adventure             509961.879341  226541.0  692366.00  884112.0
Action, Adventure, Biography            NaN   52397.0   52397.00   52397.0
Action, Adventure, Comedy     352696.927553   51284.0  106662.50  524280.0
Action, Adventure, Crime                NaN   63882.0   63882.00   63882.0
Action, Adventure, Drama      613518.308911   28167.0  157781.00  363671.5
...                                     ...       ...        ...       ...
Mystery, Romance, Thriller              NaN  364368.0  364368.00  364368.0
Mystery, Sci-Fi, Thriller     276136.511762  187927.0  285556.00  383185.0
Mystery, Thriller             463893.426814   33982.0   47400.00   57806.0
Thriller                                NaN   27733.0   27733.00   27733.0
Western                       263489.554280   65659.0  190993.75  267808.0


                                     75%        max
Genre
Action, Adventure             1308302.00  1516346.0
Action, Adventure, Biography    52397.00    52397.0
Action, Adventure, Comedy      589773.75  1043455.0
Action, Adventure, Crime        63882.00    63882.0
Action, Adventure, Drama      1208583.75  1661481.0
...                                  ...        ...
Mystery, Romance, Thriller     364368.00   364368.0
Mystery, Sci-Fi, Thriller      480814.00   578443.0
Mystery, Thriller              444074.00  1129894.0
Thriller                        27733.00    27733.0
Western                        399230.50   688390.0

[202 rows x 24 columns]

In [47]:
genre.sample(2,replace=True)

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
72,https://m.media-amazon.com/images/M/MV5BMjA0OD...,Raiders of the Lost Ark,1981,A,115 min,"Action, Adventure",8.4,"In 1936, archaeologist and adventurer Indiana ...",85.0,Steven Spielberg,Harrison Ford,Karen Allen,Paul Freeman,John Rhys-Davies,884112,"248,159,971"
840,https://m.media-amazon.com/images/M/MV5BODBmOW...,First Blood,1982,A,93 min,"Action, Adventure",7.7,A veteran Green Beret is forced by a cruel She...,61.0,Ted Kotcheff,Sylvester Stallone,Brian Dennehy,Richard Crenna,Bill McKinney,226541,"47,212,904"
540,https://m.media-amazon.com/images/M/MV5BMjRkY2...,"Aguirre, der Zorn Gottes",1972,NaN,95 min,"Action, Adventure, Biography",7.9,"In the 16th century, the ruthless and insane D...",NaN,Werner Herzog,Klaus Kinski,Ruy Guerra,Helena Rojo,Del Negro,52397,NaN
540,https://m.media-amazon.com/images/M/MV5BMjRkY2...,"Aguirre, der Zorn Gottes",1972,NaN,95 min,"Action, Adventure, Biography",7.9,"In the 16th century, the ruthless and insane D...",NaN,Werner Herzog,Klaus Kinski,Ruy Guerra,Helena Rojo,Del Negro,52397,NaN
339,https://m.media-amazon.com/images/M/MV5BMTAwMj...,Guardians of the Galaxy,2014,UA,121 min,"Action, Adventure, Comedy",8.0,A group of intergalactic criminals must pull t...,76.0,James Gunn,Chris Pratt,Vin Diesel,Bradley Cooper,Zoe Saldana,1043455,"333,176,600"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69,https://m.media-amazon.com/images/M/MV5BZTcyNj...,Memento,2000,UA,113 min,"Mystery, Thriller",8.4,A man with short-term memory loss attempts to ...,80.0,Christopher Nolan,Guy Pearce,Carrie-Anne Moss,Joe Pantoliano,Mark Boone Junior,1125712,"25,544,867"
700,https://m.media-amazon.com/images/M/MV5BMTQyNT...,Wait Until Dark,1967,NaN,108 min,Thriller,7.8,A recently blinded woman is terrorized by a tr...,81.0,Terence Young,Audrey Hepburn,Alan Arkin,Richard Crenna,Efrem Zimbalist Jr.,27733,"17,550,741"
700,https://m.media-amazon.com/images/M/MV5BMTQyNT...,Wait Until Dark,1967,NaN,108 min,Thriller,7.8,A recently blinded woman is terrorized by a tr...,81.0,Terence Young,Audrey Hepburn,Alan Arkin,Richard Crenna,Efrem Zimbalist Jr.,27733,"17,550,741"
12,https://m.media-amazon.com/images/M/MV5BOTQ5ND...,"Il buono, il brutto, il cattivo",1966,A,161 min,Western,8.8,A bounty hunting scam joins two men in an unea...,90.0,Sergio Leone,Clint Eastwood,Eli Wallach,Lee Van Cleef,Aldo Giuffrè,688390,"6,100,000"
12,https://m.media-amazon.com/images/M/MV5BOTQ5ND...,"Il buono, il brutto, il cattivo",1966,A,161 min,Western,8.8,A bounty hunting scam joins two men in an unea...,90.0,Sergio Leone,Clint Eastwood,Eli Wallach,Lee Van Cleef,Aldo Giuffrè,688390,"6,100,000"

In [53]:

genre.nunique()

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
Genre,,,,,,,,,,,,,,,
"Action, Adventure",5,5,5,3,5,3,5,5,3,3,5,5,5,5,5
"Action, Adventure, Biography",1,1,1,0,1,1,1,0,1,1,1,1,1,1,0
"Action, Adventure, Comedy",10,10,8,5,10,6,10,6,9,8,10,10,10,10,9
"Action, Adventure, Crime",1,1,1,0,1,1,1,0,1,1,1,1,1,1,0
"Action, Adventure, Drama",14,14,11,5,14,11,14,12,12,12,13,14,13,14,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Mystery, Romance, Thriller",1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
"Mystery, Sci-Fi, Thriller",2,2,2,1,2,2,2,2,2,2,2,2,2,2,2
"Mystery, Thriller",9,9,8,4,7,7,9,5,8,9,9,9,9,9,6
Thriller,1,1,1,0,1,1,1,1,1,1,1,1,1,1,1
Western,4,4,4,2,4,4,4,4,2,2,4,4,4,4,4

In [69]:
# agg method
# passing dict
genre.agg(
    {
        
        'IMDB_Rating':'mean',
        'No_of_Votes':'sum',
        'Gross':'sum',
        'Meta_score':'min'
    }
)

,IMDB_Rating,No_of_Votes,Gross,Meta_score
Genre,,,,
"Action, Adventure",8.180000,4627667,"448,139,099248,159,971206,852,432197,171,80647...",61.0
"Action, Adventure, Biography",7.900000,52397,0,NaN
"Action, Adventure, Comedy",7.910000,4560766,"1,033,8958,178,001333,176,600363,070,709315,05...",60.0
"Action, Adventure, Crime",7.600000,63882,0,NaN
"Action, Adventure, Drama",8.150000,9295859,"377,845,905315,544,750342,551,365269,061187,70...",61.0
...,...,...,...,...
"Mystery, Romance, Thriller",8.300000,364368,"3,200,000",100.0
"Mystery, Sci-Fi, Thriller",7.800000,766370,"57,141,45914,378,331",66.0
"Mystery, Thriller",7.977778,3072266,"25,544,86736,764,313128,012,9341,035,9534,081,...",52.0
Thriller,7.800000,27733,"17,550,741",81.0
Western,8.350000,1289665,"6,100,0005,321,50815,000,00031,800,000",69.0

In [81]:
# passing list
genre.agg(['min','max','mean','sum'])

TypeError: agg function failed [how->min,dtype->object]

In [79]:
genre.agg(
    {
        
        'IMDB_Rating':['mean','min'],
        'No_of_Votes':['sum','max'],
        'Gross':'sum',
        'Meta_score':'min'
    }
)

                             IMDB_Rating      No_of_Votes           \
                                    mean  min         sum      max
Genre
Action, Adventure               8.180000  7.7     4627667  1516346
Action, Adventure, Biography    7.900000  7.9       52397    52397
Action, Adventure, Comedy       7.910000  7.6     4560766  1043455
Action, Adventure, Crime        7.600000  7.6       63882    63882
Action, Adventure, Drama        8.150000  7.6     9295859  1661481
...                                  ...  ...         ...      ...
Mystery, Romance, Thriller      8.300000  8.3      364368   364368
Mystery, Sci-Fi, Thriller       7.800000  7.6      766370   578443
Mystery, Thriller               7.977778  7.6     3072266  1129894
Thriller                        7.800000  7.8       27733    27733
Western                         8.350000  7.8     1289665   688390

                                                                          Gross  \
                                                                            sum
Genre
Action, Adventure             448,139,099248,159,971206,852,432197,171,80647...
Action, Adventure, Biography                                                  0
Action, Adventure, Comedy     1,033,8958,178,001333,176,600363,070,709315,05...
Action, Adventure, Crime                                                      0
Action, Adventure, Drama      377,845,905315,544,750342,551,365269,061187,70...
...                                                                         ...
Mystery, Romance, Thriller                                            3,200,000
Mystery, Sci-Fi, Thriller                                  57,141,45914,378,331
Mystery, Thriller             25,544,86736,764,313128,012,9341,035,9534,081,...
Thriller                                                             17,550,741
Western                                  6,100,0005,321,50815,000,00031,800,000

                             Meta_score
                                    min
Genre
Action, Adventure                  61.0
Action, Adventure, Biography        NaN
Action, Adventure, Comedy          60.0
Action, Adventure, Crime            NaN
Action, Adventure, Drama           61.0
...                                 ...
Mystery, Romance, Thriller        100.0
Mystery, Sci-Fi, Thriller          66.0
Mystery, Thriller                  52.0
Thriller                           81.0
Western                            69.0

[202 rows x 6 columns]

In [88]:
# looping on groups
nw_df=pd.DataFrame(columns=df.columns)
for groups,data in genre:
    nw_df=nw_df.append(data[data['IMDB_Rating']==data['IMDB_Rating'].max()])
df

AttributeError: 'DataFrame' object has no attribute 'append'